@import "../../scss/_mixins.scss";
.navbar {
  background: var(--white);
  display: flex;
  padding: 58px 0 58px 0;
  justify-content: space-between;
  font-weight: 500;
  position: relative;
  .logo {
    cursor: pointer;
  }
  @include mobile {
    justify-content: center;
    padding: 20px 0 20px 0;
    gap: 17px;
    svg {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
    }
  }
  svg {
    position: absolute;
    z-index: -1;
    top: 0;
  }
  .pages-div {
    display: flex;
    gap: 40px;
    .topics {
      cursor: pointer;
    }
  }
  .cv-div {
    .cv-button {
      border: 1px solid #0db760;
      color: var(--black);
      font-weight: 500;
    }
  }
}
