.navbar {
  background: var(--white);
  display: flex;
  padding: 58px;
  justify-content: space-between;
  font-weight: 500;
  .pages-div {
    display: flex;
    gap: 40px;
    // .topics {
    // }
  }
  .cv-div {
    .cv-button {
      border: 1px solid #0db760;
      color: var(--black);
      font-weight: 500;
    }
  }
}
