@import "../../scss/_mixins.scss";
.Profile-section {
  padding-top: 150px;
  display: flex;
  padding-bottom: 200px;
  .user-details-div {
    width: 50%;
    span {
      font-weight: 500;
      font-size: 20px;
      color: var(--light-green);
    }
    h1 {
      font-weight: 600;
      font-size: 58px;
      line-height: 70px;
      span {
        font-weight: 600;
        font-size: 58px;
        line-height: 70px;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 24px;
    }
    .contact-div {
      .contact-button {
        background: var(--light-green);
      }
    }
  }
  .user-profile-div {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    svg {
      position: absolute;
      left: 0;
      top: 17px;
      z-index: -1;
      width: 24rem;
      left: 35px;
    }
    .rectangle {
      background: var(--light-green);
      width: 375px;
      height: 370px;
      z-index: -2;
      img {
        width: 25rem;
        height: 25rem;
        position: absolute;
        bottom: 0;
      }
    }
  }

  @include tablet {
    padding-top: 50px;
    flex-direction: column;
    gap: 90px;
    padding-bottom: 80px;
    .user-details-div {
      width: auto;
    }
    .user-profile-div {
      width: auto;
      .rectangle {
        height: 270px;
        width: 250px;
        svg {
          top: -43px;
          width: 16rem;
          left: 198px;
        }
        img {
          width: 19rem;
          height: 19rem;
        }
      }
    }
  }

  @include mobile {
    padding-top: 50px;
    flex-direction: column;
    gap: 90px;
    padding-bottom: 80px;
    .user-details-div {
      width: auto;
    }
    .user-profile-div {
      width: auto;
      .rectangle {
        height: 270px;
        width: 250px;
        svg {
          top: -43px;
          width: 16rem;
          left: 26px;
        }
        img {
          width: 19rem;
          height: 19rem;
        }
      }
    }
  }
}
